:global(body) {
    margin: 0;
    font-family: "Gotham A", "Gotham B", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  }

  .signUpsec {
    margin: auto;
    padding: 35px;
  }

  .formContainer {
    background-color: #ecf0f1;
    padding:50px;
    margin: auto;
  }

  .mainBody {
    margin: 0 auto;
  }

  .CtaDate {
    color: #ffffff !important;
  }

  .title {
    margin: auto;
    padding: 25px;
    color: #ffffff;
  }

  .hero {
    width: 100%;
    color: #fff;
    height: 100%;
    background: url('/CC2020-banner.png') no-repeat 40%;
    margin: auto;
  }

button {
  width: 100%;
  color: white;
  border: none;
  font-size: 16px;
  padding: 10px;
  font-weight: bold;
  background-color: #e00034; 
  margin: 10px 0 10px 0;  
  height: auto;
}

input {
  width: 100%;
  border: 1px solid #c3c8c8;
  height: 30px;
  font-size: 16px;
  margin: 10px 0 10px 0;
}

input text {
  padding: 10px;
}

.heroCta {
  margin: auto;
  background-color: #e00034;
  width: 35%;
}

.heroCta p {
  text-align: center;
  padding: 15px;
  font-weight: bold;
  text-transform: uppercase;
  color: #fff;
}

   .signUpText {
    font-family: "Gotham A", "Gotham B", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
    font-weight: 400;
    margin: auto;
    padding-bottom: 40px;
   }
   
   .button {
    background: red;
    border-radius: 8px;
    color: white;
  }

    .signup {
      padding: 18px 30px 24px;
    }
    
    h1 {
      font-family: "Gotham A", "Gotham B", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
      font-weight: 500 !important;
    }
    
  
    .title {
      font-family: "Gotham A", "Gotham B", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
      margin: auto;
      text-align: center;
      padding-top: 80px;
      line-height: 1.15;
      font-size: 48px;
    }
    .title,
    .description {
      text-align: center;
    }
    .row {
      width: 100%;
      margin: auto;
      display: flex;
      flex-direction: row;
      justify-content: space-around;
    }
    .card {
      padding: 18px 18px 24px;
      width: 220px;
      text-align: left;
      text-decoration: none;
      color: #434343;
      border: 1px solid #9b9b9b;
    }
    .card:hover {
      border-color: #067df7;
    }
    .card h3 {
      margin: 0;
      color: #067df7;
      font-size: 18px;
    }
    .card p {
      margin: 0;
      padding: 12px 0 0;
      font-size: 13px;
      color: #333;
    }

    /* MEDIA QUERIES */

    @media (min-width: 600px) {
      :global(body) {
        width: 100%;
        font-size: 1.25em; line-height: 1.5em; letter-spacing: 0.2px;
      }

      .heroCta {
        margin: auto;
        background-color: #e00034;
        width: 35%;
      }

    }